.App {
  text-align: center;
}



.App span {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 10px;
  float: left;
}

.App:hover span {
  color: red;
  cursor: pointer;
}

.App span:hover ~span {
  color: black;
}
%visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
.box{
  color:black;
}
.hello{
  color:blue;
}